@import controllers.AssetsFinder
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html

@(email: String)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("activate.account.title")) {

    <div class="column is-half is-offset-one-quarter">
        <h1>@messages("activate.account")</h1>
        <div class="info">
            <p>@messages("activate.account.text1")</p>
            <p><b>@email</b></p>
            <p>@messages("activate.account.text2")</p>
            <p>@Html(messages("activate.account.text3", controllers.routes.ActivateAccountController.send(helper.urlEncode(email))))</p>
        </div>
    </div>
}
