@import controllers.AssetsFinder
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(changePasswordForm: Form[(String, String)], user: models.User)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

    @main(messages("change.password.title"), Some(user)) {

        <div class="column is-half is-offset-one-quarter">
            <h1>@messages("change.password")</h1>
            @helper.form(action = controllers.routes.ChangePasswordController.submit, Symbol("autocomplete") -> "off") {
                <p class="info">@messages("strong.password.info")</p>
                @helper.CSRF.formField

                <div class="field">
                    <label class="label">@messages("current.password")</label>
                    <div class="control">
                        <input class="input" type="password" name="current-password" id="current-password" placeholder="@messages("current.password")">
                    </div>
                </div>

                <div class="field">
                    <label class="label">@messages("new.password")</label>
                    <div class="control">
                        <input class="input" type="password" name="new-password" id="new-password" placeholder="@messages("new.password")">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">@messages("change")</button>
                    </div>
                </div>
            }
        </div>
    }
