@import silAuth.ChangePasswordForm
@import silAuth.User
@(user: User, registerForm: Form[ChangePasswordForm.Data])(implicit request: RequestHeader, assetsFinder: AssetsFinder, messages: Messages)

@main(messages("password.change.title"), Some(user)) {

    <div class="columns">
        <div class="column">

        </div>
        <div class="column">

            <section class="section">

                @if(registerForm.hasErrors) {
                    @for(error <- registerForm.globalErrors) {
                        @bulma.message(error.message, level = "danger")
                    }
                }

                <div class="container mb-5">
                    <h1 class="is-size-4 has-text-centered">@messages("password.change.title")</h1>
                </div>

                <div class="container">
                    @helper.form(action = routes.SilhouetteController.changePassword()) {
                        @helper.CSRF.formField

                        <div class="field">
                            <label class="label" for="old-password">@messages("password.change.old-password")</label>
                            <div class="control">
                                <input class="input" type="password" name="old-password" id="old-password">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="new-password">@messages("password.change.new-password")</label>
                            <div class="control">
                                <input class="input" type="password" name="new-password" id="new-password">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label" for="confirm-new-password">@messages("password.change.confirm-new-password")</label>
                            <div class="control">
                                <input class="input" type="password" name="confirm-new-password" id="confirm-new-password">
                            </div>
                        </div>

                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link">@messages("password.change.submit")</button>
                            </div>
                        </div>
                    }
                    <div class="mt-3">
                        <a href="@routes.Application.profile()">@messages("cancel")</a>
                    </div>
                </div>
            </section>

        </div>
        <div class="column">

        </div>
    </div>
}
