@import forms.ChangePasswordForm.Data
@import play.api.data.Form

@(changePasswordForm: Form[Data])(implicit requestHeader: RequestHeader, flash: Flash)

@main("Change password") {
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                        <form action="@routes.ChangePasswordController.submit()" method="post" class="box">
                            @helper.CSRF.formField

                            <h1 class="title has-text-centered">Change password</h1>

                            @if(flash.get("info").isDefined) {
                                <div class="notification is-primary">
                                @flash.get("info").get
                                </div>
                            }
                            @if(flash.get("success").isDefined) {
                                <div class="notification is-success">
                                @flash.get("success").get
                                </div>
                            }
                            @if(flash.get("error").isDefined) {
                                <div class="notification is-danger">
                                @flash.get("error").get
                                </div>
                            }

                            <div class="field">
                                <label class="label" for="currentPassword">Current password</label>
                                <div class="control">
                                    <input class="input" type="password" id="currentPassword" name="currentPassword">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="currentPassword">New password</label>
                                <div class="control">
                                    <input class="input" type="password" id="newPassword" name="newPassword">
                                </div>
                            </div>

                            <div class="field">
                                <button class="button is-success">Change</button>
                            </div>

                            <div class="has-text-centered">
                                <a href="@routes.ApplicationController.index()">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
