@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(forgotPasswordForm: Form[String])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("forgot.password.title")) {

    <div class="column is-half is-offset-one-quarter">
        <h1>@messages("forgot.password")</h1>
        @helper.form(action = controllers.routes.ForgotPasswordController.submit, Symbol("autocomplete") -> "off") {
            <p class="info">@messages("forgot.password.info")</p>
            @helper.CSRF.formField

            <div class="field">
                <label class="label">@messages("email")</label>
                <div class="control">
                    <input class="input" type="email" name="email" id="email" placeholder="@messages("email")">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">@messages("send")</button>
                </div>
            </div>
        }
    </div>
}
