@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder

@(user: models.User)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("home.title"), Some(user)) {

    <div class="column is-half is-offset-one-quarter">
        <h4>@messages("welcome.signed.in")</h4>
    </div>

    <div class="column is-half is-offset-one-quarter">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="@user.avatarURL.getOrElse(assets.path("images/silhouette.png"))" alt="avatar">
                        </figure>
                    </div>
                    <div class="media-content">
                    </div>
                </div>


                <div class="content">
                    <p><strong>@messages("first.name"):</strong> @user.firstName.getOrElse("None")</p>
                    <p><strong>@messages("last.name"):</strong> @user.lastName.getOrElse("None")</p>
                    <p><strong>@messages("full.name"):</strong> @user.fullName.getOrElse("None")</p>
                    <p><strong>@messages("email"):</strong> @user.email.getOrElse("None")</p>
                </div>
            </div>
        </div>
    </div>
}
