@import silAuth.LoginForm
@(loginForm: Form[LoginForm.Data])(implicit request: RequestHeader, assetsFinder: AssetsFinder, messages: Messages)

    @main(messages("login.title")) {

        <div class="columns">
            <div class="column">

            </div>
            <div class="column">

                <section class="section">

                    @if(loginForm.hasErrors) {
                        @for(error <- loginForm.globalErrors) {
                            @bulma.message(error.message, level = "danger")
                        }
                    }

                    <div class="container mb-5">
                        <h1 class="is-size-4 has-text-centered">@messages("login.title")</h1>
                    </div>

                    <div class="container">
                        @helper.form(action = routes.SilhouetteController.login()) {
                            @helper.CSRF.formField
                            <div class="field">
                                <label class="label" for="username">@messages("username")</label>
                                <div class="control">
                                    <input class="input" type="text" name="username" id="username">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="password">@messages("password")</label>
                                <div class="control">
                                    <input class="input" type="password" name="password" id="password">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        @messages("login.remember-me")
                                    </label>
                                </div>
                            </div>

                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">@messages("login.submit")</button>
                                </div>
                            </div>
                        }
                        <div class="mt-3">
                            <a href="@routes.SilhouetteController.showRegister()">@messages("register.title")</a>
                        </div>
                    </div>
                </section>

            </div>
            <div class="column">

            </div>
        </div>
    }
