@import silAuth.User
@(title: String, userOpt: Option[User] = None)(content: Html)(implicit request: RequestHeader, assetsFinder: AssetsFinder,  messages: Messages)

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <link rel="stylesheet" href="@assetsFinder.path("vendors/bulma/css/bulma.min.css")">
        <link rel="stylesheet" href="@assetsFinder.path("css/main.css")">
    </head>
    <body>

        @navbar(userOpt)

        @if(!request.flash.isEmpty) {
            <section class="section">
                <div class="container">
                    @request.flash.get("error").map { msg =>
                        @bulma.message(msg, level = "danger")
                    }
                    @request.flash.get("info").map { msg =>
                        @bulma.message(msg, level = "info")
                    }
                    @request.flash.get("success").map { msg =>
                        @bulma.message(msg, level = "success")
                    }
                </div>
            </section>
        }

        @content

        @footer()
        <script type="application/javascript" src="@assetsFinder.path("js/hello.js")"></script>
    </body>
</html>

