@import forms.ResetPasswordForm.Data
@import play.api.data.Form
@import java.util.UUID

@(resetPasswordForm: Form[Data], authTokenId: UUID)(implicit requestHeader: RequestHeader, flash: Flash)

@main("Reset password") {
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">

                        <form action="@routes.ResetPasswordController.submit(authTokenId)" method="post" class="box">
                            @helper.CSRF.formField

                            <h1 class="title has-text-centered">Reset password</h1>

                            @if(flash.get("info").isDefined) {
                                <div class="notification is-primary">
                                @flash.get("info").get
                                </div>
                            }
                            @if(flash.get("success").isDefined) {
                                <div class="notification is-success">
                                @flash.get("success").get
                                </div>
                            }
                            @if(flash.get("error").isDefined) {
                                <div class="notification is-danger">
                                @flash.get("error").get
                                </div>
                            }

                            <div class="field">
                                <label class="label" for="password">Password</label>
                                <div class="control">
                                    <input class="input" type="password" id="password" name="password">
                                </div>
                            </div>

                            <div class="field">
                                <button class="button is-success">Reset</button>
                            </div>

                            <div class="has-text-centered">
                                <a href="@routes.SignInController.view()">Sign in</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
}
