@import java.util.UUID

@import controllers.AssetsFinder
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(form: Form[String], token: UUID)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("reset.password.title")) {

    <div class="column is-half is-offset-one-quarter">
        <h1>@messages("reset.password")</h1>
        @helper.form(action = controllers.routes.ChangePasswordController.submit, 'autocomplete -> "off") {
            <p class="info">@messages("strong.password.info")</p>
            @helper.CSRF.formField

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">@messages("reset")</button>
                </div>
            </div>
        }
    </div>
}
