@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import controllers.AssetsFinder
@import forms.SignUpForm.Data

@(signUpForm: Form[Data])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("sign.up.title")) {

    <div class="column is-half is-offset-one-quarter">
        <h1>@messages("sign.up.account")</h1>
        @helper.form(action = controllers.routes.SignUpController.submit, Symbol("autocomplete") -> "off") {
            @helper.CSRF.formField

            <div class="field">
                <label class="label">@messages("first.name")</label>
                <div class="control">
                    <input class="input" type="text" name="firstName" id="firstName" placeholder="@messages("first.name")">
                </div>
            </div>

            <div class="field">
                <label class="label">@messages("last.name")</label>
                <div class="control">
                    <input class="input" type="text" name="lastName" id="lastName" placeholder="@messages("last.name")">
                </div>
            </div>

            <div class="field">
                <label class="label">@messages("email")</label>
                <div class="control">
                    <input class="input" type="email" name="email" id="email" placeholder="@messages("email")">
                </div>
            </div>

            <div class="field">
                <label class="label">@messages("password")</label>
                <div class="control">
                    <input class="input" type="password" name="password" id="password" placeholder="@messages("password")">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">@messages("sign.up")</button>
                </div>
            </div>
        }

        <div class="sign-in-now">
            <p>@messages("already.a.member") <a href="@controllers.routes.SignInController.view">@messages("sign.in.now")</a></p>
        </div>
    </div>
}
