@import controllers.AssetsFinder
@import forms.SignInForm.Data
@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader

@(signInForm: Form[Data])(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder)

@main(messages("sign.in.title")) {

    <div class="column is-half is-offset-one-quarter">
        <h1>@messages("sign.in.credentials")</h1>
        @helper.form(action = controllers.routes.SignInController.submit, 'autocomplete -> "off") {
            @helper.CSRF.formField

            <div class="field">
                <label class="label">@messages("email")</label>
                <div class="control">
                    <input class="input" type="email" name="email" id="email" placeholder="@messages("email")">
                </div>
            </div>

            <div class="field">
                <label class="label">@messages("password")</label>
                <div class="control">
                    <input class="input" type="password" name="password" id="password" placeholder="@messages("password")">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="rememberMe" id="rememberMe" onclick="switchCheckBox(this)">
                        @messages("remember.me")
                    </label>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">@messages("sign.in")</button>
                </div>
            </div>
        }

        <div>
            <p class="not-a-member">@messages("not.a.member") <a href="@controllers.routes.SignUpController.view">@messages("sign.up.now")</a> | <a href="@controllers.routes.ForgotPasswordController.view()" title="@messages("forgot.your.password")">@messages("forgot.your.password")</a></p>
        </div>
    </div>
}
